<!DOCTYPE html>
  <html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>신재's 블로그</title>
    <link rel="stylesheet" href="/css/sub.css">
  </head>
  <body>
  <!-- HEADER -->
    <header class="header">
      <div class="header-background">
        <div class="header-container">
          <h1>이신재 Sinjae LEE</h1>
          <h2>Backend-developer</h2>
          <a href="portfolio.html" class="header-around">포트폴리오</a>
          <a href="blog.html" class="header-around">블로그</a>
        </div>
      </div>  
      
    </header>

  </body>
  </html>